/* --- Basic rules --- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}



/* --- Typography general --- */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 30px;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 2em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

section:nth-of-type(even) h2 {
    text-align: right;
}

@media only screen and (min-width: 35em) {
    h2 {
        font-size: 3em;
    }
}

p {
    line-height: 1.8em;
    color: #eee;
}



/* --- Layout rules --- */
.main-header {
    max-width: 90%;
}

main {
    margin: 5px;
}

@media only screen and (min-width: 35em) {
    main {
        margin: 10vh 1em 10vh;
        /*margin: 10% auto;*/
    }
}

.main-header {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    margin-bottom: 100px;
}



/* --- Flexbox for sections --- */
.section-container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

section:nth-of-type(even) .section-container-flex {
    flex-direction: row-reverse;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.box {
    max-width: 85vw;
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (min-width: 993px) {
    .box {
        flex: 0 1 calc(50% - 40px);
        margin: 20px;
    }
}



.text-wrap strong, em {
    font-size: 105%;
}








/*Display grid for medium screen
@media(min-width:601px) and (max-width:900px) { */