/* --- Basic rules --- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}



/* --- Typography general --- */
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 30px;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 2em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 2em;
    color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

section:nth-of-type(even) h2 {
    text-align: right;
}

@media only screen and (min-width: 35em) {
    h2 {
        font-size: 3em;
    }
}

p {
    line-height: 1.8em;
    color: #eee;
}

.text-wrap strong, em {
    font-size: 110%;
}



/* --- Header and navbar styles --- */
.page-header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
}

.navbar-menu {
    float: right;
}

.navbar-menu ul {
    margin: 0;
    /*padding-left: 0;*/
    /*text-align: right;*/
}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu .menu-link {
    display: block;
    color: black;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 601px) {
    .navbar-menu .menu-link {
        font-size: 0.8em;
        padding: 0.8em;
    }
}

.navbar-menu .menu-link:hover {
    background-color: #333;
    color: white;
    transition: ease 0.3s all;
    cursor: pointer;
}

 .navbar-menu .active {
    background-color: #333;
    color: white;
}



/* --- Layout rules --- */
main {
    margin: 5px;
}

@media only screen and (min-width: 35em) {
    main {
        margin: 10vh 1em 10vh;
        /*margin: 10% auto;*/
    }
}

.main-header {
    max-width: 90%;
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
    margin-bottom: 100px;
    scroll-margin-top: 4.5em;
}



/* --- Flexbox for sections --- */
.section-container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

section:nth-of-type(even) .section-container-flex {
    flex-direction: row-reverse;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.box {
    max-width: 85vw;
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (min-width: 993px) {
    .box {
        flex: 0 1 calc(50% - 40px);
        margin: 20px;
    }
}



/* --- Style for button 'back to top' --- */
.scroll-top {
    position: fixed;
    /*bottom: 30px;
    right: 50px;*/
    bottom: 5%;
    right: 5%;
    z-index: 4;
}

#btn-top {
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0.7em;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(211, 211, 211, 0.385) 2px 3px;
    border: none;
    outline: none;
    visibility: hidden;
}

@media only screen and (min-width:601px) {
    #btn-top {
        font-size: 0.8em;
    }
}

#btn-top:hover {
    cursor: pointer;
    box-shadow: rgba(211, 211, 211, 0.385) 3px 5px;
    /*clickable - pushing down the button:
    position: relative;
    bottom: -2px;
    box-shadow: none;*/
}



/* --- Footer styles --- */
.page-footer {
    height: auto;
    background-color: #333;
    text-align: center;
    padding: 0.5em;
}